.header {
    background-color: rgb(88, 121, 151);
    font-size: 40px;
    padding: 30px;
    width: 100%;
  }
    
.header-inner{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 45px;
    position: relative;
    width: 100%;
  }

  
  .header,
  .content,
  .footer {
    width: 100%;
  }
  
  .header,
  .footer, 
  .header-rightblock{
    background-color: rgb(88, 121, 151);
  }
  
  .header-logo{
    width: calc(100%-200px)
  }
  
  .mobile-nav-search-btn  {
    color : #E3AC41;
  }
  .mobile-nav-open-search {
    position: absolute;
    top: 0;
    right: 0;
    color : #E3AC41;
    margin-right: 10px;
   
    
}

  .mobile-nav-open-btn {
    position: absolute;
    top: 0;
    left: 0;
    color : #E3AC41;
    margin: 0;
    cursor: pointer;
    outline: none;
  }
    
  .mobile-nav-toggle-btn-checkbox {
    display: none;
  }
  
  .mobile-nav-close-btn {
    color: #fff;
    width: 100%;
    height: 50px;
    position: relative;
    cursor: pointer;
    outline: none;
    margin: 0;
    text-align: center;
  }
   
  .header-rightblock {
   
    display: flex;
    align-self:flex-start;
    align-items: flex-start;
    height: 100%;
    flex-flow: row wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform .4s, z-index .4s;
    transform-origin: left top;
    transform: scale(0);
  }
  
  .mobile-nav-toggle-btn-checkbox:checked ~ .header-rightblock {
    transform: scale(1);
    z-index: 2;
  }
  
  .social {
    display: none;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
  
  .social a {
    width: 50px;
  }

  
  /* Add a black background color to the top navigation */
  .navigation {
    display: flex;
    flex-flow: column;
    opacity: 50%;
    width: 100%;
  }
  
    
  /* Style the links inside the navigation bar */
  .navigation-link {
    float: left;
    color : #E3AC41;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    
    
  }
  
  /* Change the color of links on hover */
  .navigation-link:hover {
    
    color: rgb(0, 0, 0);
  }






  @media (min-width: 960px) {
    .header-rightblock {
      transform: scale(1);
      background-color: rgba(0, 0, 0, 0);
      position: relative;
      z-index: 2;
    }
    .navigation {
        align-self: flex-end;
        margin-left: auto;
        flex-flow: row nowrap;
        width: auto;
      }
      .social {
        display: flex;
      }

      .header-inner {
        position: static;
        justify-content: space-between;
      }

      .mobile-nav-close-btn {
        display: none;
      }
     
        .mobile-nav-open-btn {
          display: none;
        }
     
        .mobile-nav-open-search {
            display: none;
        }
  }